.vs/ 
bin/ 
obj/ 

# .NET Secrets
appsettings.Development.json
secrets.json

# Angular Environments
src/environments/environment.development.ts
src/environments/environment.prod.ts
src/environments/environment.local.ts
